.container{
	position: relative;
}

#main p{
	color: #A1C2E4;
	padding: 40px 40px 0px 40px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace
}
#main a{
	color: #A1C2E4;
}

#app-container{
	background: #fff;
	border-radius: 0px 0px 5px 5px ;
	/* display: block;
	overflow: hidden; */
	margin-top: 0px;
	height: 500px;
}

.tools{
	color: #A1C2E4;
	text-align: center;
	font-family: 'Courier New', Courier, monospace
}

.tools-text{
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
}

body.win32,
body.win32 #app-container{
	background: #fcfcfc;
}

.find-spots{
	border: 1px;
	border-radius: 50px;
	border-color: #A1C2E4;
	padding: 5px;
}

img{
	display: block;
    margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

#quit {
	position: fixed;
	right: 10;	
	font-weight: 700;
	font-size: 13px;
	text-align: right;
 }

.footer {
	position: fixed;
	left: 10;
	right: 10;
	bottom: 10;
	width: 100%;	
	font-weight: 700;
	color: #A1C2E4;
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	text-align: center;
 }